{% extends "forum/base.html" %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <!-- <h1>Here are the Categories!</h1> -->
    {% for category in categories %}
        <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'category_details' category.slug %}">{{ category.title }}</a>
                        <!-- <p class="article-content">{{category.title}}</p> -->
                    </div>
                </div>
        </article>
    {% endfor %}
{% endblock content %}