{% extends "forum/base.html" %}

{% block title %}
    Delete Question
{% endblock title %}

{% block content %}


    <!-- <br/>"{{ question.title }}"</h5> -->
    <article class="media content-section">
            <div class="media-body">
                <h2>Delete question</h2> 
                <div class="article-metadata">
                    
                </div>
                <br>
                <h5>Are you sure you want to delete this question?</h5>
                <br>
                <div class="p-3 mb-2 bg-light text-dark"><h5>{{ question.title }}</h5></div>
                <br>
                <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-info">Delete</button>
                        <a href="{% url 'questions' %}" 
                        class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
                        <br>
                        <br>
            </div>
    </article>
{% endblock content %}