{% extends "forum/base.html" %}

{% block title %}
    Edit page
{% endblock title %}

{% block content %}
    <h1>Edit your question</h1>
    <br/>
    <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- for -->
                <button class="btn btn-dark">Update</button>
                <a href="{% url 'questions' %}" 
                class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
                <a href="{% url 'question_delete' question.id %}" 
                class="btn btn-info float-right" role="button" aria-pressed="true">Delete this question</a>
    </div>
{% endblock content %}